<%- include("partials/head") %> 
<link rel="stylesheet" href="/home.css">

<div class="main">
    <h1>Welcome to <span>HoldInfo</span></h1>
    <a href="/index">Cryptocurrency</a>
</div>

<%- include("partials/foot") %> 